body {
  font-family: "Consolas", monospace;
  background-color: #fff;
  font-size: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 100vh;
}

input {
  border-radius: 5px;
  color: #000;
  border: none;
  background-color: rgb(182, 182, 182);
  padding-left: 10px;
}

input[type="text"] {
  font-size: x-large;
  width: 100%;
  height: 50px;
}

input[type="submit"] {
  font-size: larger;
  text-align: center;
  width: 100%;
  height: 30px;
  opacity: 0.5;
  font-family: "Consolas", monospace;
}

input[type="submit"]:hover {
  background-color: rgb(179, 174, 174);
}

p {
  padding-left: 5px;
}

ul {
  list-style-type: square;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  text-align: center;
  text-decoration: none;
  margin-top: 0px;
  padding-top: 10px;
  background-color: #e8e8e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
  font-family: "Consolas", monospace;
}

h3 {
  font-size: xx-large;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 7px;
  padding-top: 3px;
}

h4 {
  text-align: left;
  text-decoration: none;
  font-size: large;
  margin-top: 0px;
  padding-top: 10px;
  background-color: #e8e8e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

h5 {
  margin-bottom: 30px;
  margin-top: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

/********** classes ***********/

.header {
  display: flex;
  border: none;
  justify-content: space-between;
  gap: 30px;
  font-family: "Consolas", monospace;
}

.homeTitle {
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
  width: 100%;
  height: 60px;
}

.container {
  font-size: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(150px, 1fr) repeat(5, minmax(100px, 2fr));
  grid-template-rows: 1px repeat(2, minmax(150px, 30vh)) 60px;
  grid-template-areas:
    ". . . . . ."
    "c c b b b b"
    "c c b b b b"
    "c c e e e e";
}

.container > div {
  height: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
  background-color: lightgrey;
  overflow: hidden;
}

.container > div > img {
  box-shadow: none;
}

.friendPic {
  width: 50px;
  height: 50px;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.chatSummary > div {
  padding-bottom: 2px;
}

.name {
  font-size: large;
  display: inline;
}

.lastChat {
  font-style: italic;
  font-size: medium;
  display: inline;
  color: rgb(100, 100, 100);
}

.chatHeader {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(8, minmax(20px, 2fr));
  grid-template-areas: "h h h h h t t s";
}

.chatInner {
  min-height: 100%;
  display: grid;
  gap: 1em;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-rows: repeat(3, 30px) auto;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-areas:
    "k . ."
    ". . l"
    "m . .";
}

.message1 {
  grid-area: k;
  font-size: medium;
  padding: 10px;
  background-color: rgb(190, 190, 190);
  border-style: none;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.message2 {
  grid-area: m;
  font-size: medium;
  padding: 10px;
  background-color: rgb(190, 190, 190);
  border-style: none;
  border-radius: 10px;
  width: fit-content;
  padding-bottom: 30px;
}

.reply {
  font-size: medium;
  text-align: end;
  justify-self: end;
  grid-area: l;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background-color: rgb(223, 223, 223);
}

.entry {
  grid-area: e;
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-areas: "i j";
}

/********** IDs ***********/

#logo {
  flex-basis: 60px;
  box-shadow: 5px 10px 10px #161616;
}

#search:hover
{
  background-color: rgb(179, 174, 174);
  cursor: pointer;
}

#ggLogo {
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

#profImg {
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

#searchBar {
  flex-grow: 1;
  flex-shrink: 1;
  place-self: left;
  padding-left: 5px;
}

#profile {
  flex-basis: 60px;
  box-shadow: 5px 10px 10px #161616;
}

#contacts {
  grid-area: c;
}

#chatBox {
  grid-area: b;
}

#chatUser {
  grid-area: h;
  padding-left: 10px;
  font-family: "Consolas", monospace;
  font-size: larger;
}

#searchChat {
  grid-area: s;
  font-size: medium;
  width: 90%;
}

#searchChatEntry {
  grid-area: t;
  opacity: 0.5;
  font-size: medium;
}

#msgEntry {
  grid-area: i;
  background-color: lightgrey;
}

#msgSend {
  grid-area: j;
  width: 80px;
  justify-self: right;
  height: auto;
  opacity: 0.5;
}
