body {
  font-family: "Consolas", monospace;
  background-color: #fff;
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  color: black;
}

h2 {
  text-decoration: none;
  margin-top: 0px;
  padding-top: 10px;
  background-color: #e8e8e8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
}

h3 {
  margin-bottom: 0;
  padding-top: 15px;
  font-size: x-large;
}

h4 {
  margin-bottom: 0;
  margin-top: 7px;
  font-weight: 500px;
}

input {
  background-color: #e8e8e8;
  border-radius: 5px;
  color: #000;
  box-shadow: 5px 10px 10px #161616;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: "Arial", monospace;
}

input[type="text"] {
  font-size: x-large;
  box-sizing: content-box;
  height: 100%;
  width: 100.25%;
  padding-left: 2%;
  margin-left: 0;
  box-sizing: border-box;
}

input[type="submit"] {
  font-size: larger;
  width: 60%;
  height: 50px;
  text-align: center;
  margin-left: 20%;
  font-family: "Consolas", monospace;
}

input[type="submit"]:hover {
  background-color: rgb(179, 174, 174);
}

.header {
  font-size: 100%;
  display: grid;
  gap: 30px;
  padding-top: 0;
  grid-template-columns: 60px repeat(4, minmax(255px, 3fr)) 60px;
  grid-template-rows: 60px;
  grid-template-areas: "a h h h h p";
}

#Search {
  grid-area: h;
  background-color: #e8e8e8;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

.backArrow {
  grid-area: a;
}

#logo
{
  box-shadow: 5px 10px 10px #161616;
}

.profile {
  grid-area: p;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}

#profile
{
  box-shadow: 5px 10px 10px #161616;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
}

.screenCenter {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(7, minmax(160px, 1fr));
  grid-template-rows: 5px repeat(2, minmax(40px, 1fr));
  grid-template-areas:
    ". . . . . . ."
    ". s s s c t ."
    ". . . g . . .";
}

.screenCenter > div {
  height: 100%;
  border-radius: 5px;
}

.results {
  display: grid;
  box-sizing: border-box;
  gap: 30px;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  grid-template-rows: 5px repeat(3, minmax(100px, 17vh));
  grid-template-areas:
    ". . . . . ."
    "r r r o o o"
    "r r r o o o"
    "r r r o o o";
}

.results > div {
  border-radius: 5px;
  width: 99.6%;
  height: 100%;
  background-color: lightgrey;
}

#searchBar {
  grid-area: s;
}

#searchButton {
  grid-area: g;
}

.dropbtn {
  font-family: "Consolas", monospace;
  background: none;
  color: black;
  border: none;
  width: 100%;
  height: 98%;
  font-size: x-large;
}

.cDropdown {
  position: relative;
  display: inline-block;
  grid-area: c;
  height: 101%;
  width: 100.5%;
  background-color: #e8e8e8;
  border-radius: 5px;
  font-size: x-large;
  padding-bottom: 1px;
  box-sizing: border-box;
  box-shadow: 5px 10px 10px #161616;
}

.cDropdown:hover {
  background-color: rgb(179, 174, 174);
}

/* dropdown box */
.cDropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  box-shadow: 5px 10px 10px #161616;
  z-index: 1;
  width: 100%;
  font-size: medium;
}

.cDropdown-content a {
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

#cb
{
  box-shadow: none;
}

.cDropdown-content a:hover {
  background-color: #ddd;
}

.cDropdown:hover .cDropdown-content {
  display: block;
}

.tDropdown {
  position: relative;
  display: inline-block;
  grid-area: t;
  height: 100%;
  width: 100.5%;
  background-color: #e8e8e8;
  border-radius: 5px;
  font-size: x-large;
  padding-bottom: 1px;
  box-sizing: border-box;
  box-shadow: 5px 10px 10px #161616;
}

.tDropdown:hover {
  background-color: rgb(179, 174, 174);
}

/* dropdown box */
.tDropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e8e8;
  box-shadow: 5px 10px 10px #161616;
  z-index: 1;
  width: 100%;
}

.tDropdown-content a {
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.tDropdown-content a:hover {
  background-color: #ddd;
}

.tDropdown:hover .tDropdown-content {
  display: block;
}

.topResults {
  margin-top: 0;
  grid-area: r;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: fr;
  grid-template-areas:
    "."
    "a";
  overflow: hidden;
  box-shadow: 5px 10px 10px #161616;
}

.topResults-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: start;
  grid-area: a;
}

.topResults-item {
  padding-left: 7%;
  /*display: grid;
  grid-template-columns: 10px 50px 50px repeat(5, auto);
  grid-template-areas:
    "i i n n n n n"
    "i i p p p p p"
    "i i b b b b b";*/
}

.otherResults {
  margin-top: 0;
  grid-area: o;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: fr;
  grid-template-areas:
    "."
    "c";
  overflow: hidden;
  box-shadow: 5px 10px 10px #161616;
}

.otherResults-content {
  width: 100%;
  height: 100%;

  overflow-y: auto;
  text-align: start;
  grid-area: c;
}

.otherResults-item {
  padding-left: 100px;
  /*display: grid;
  grid-template-columns: 10px 50px 50px repeat(5, auto);
  grid-template-areas:
    "i i n n n n n"
    "i i p p p p p"
    "i i x x x x x"
    "i i b b b b b"
    ;*/
}

#gameImage {
  grid-area: i;
  float: left;
  margin-top: 20px;
  margin-right: 25px;

}

#gameName {
  grid-area: n;
  text-align: start;
}

#gameRating {
  grid-area: p;
  text-align: start;
}

#gameTags
{
  grid-area: x;
  text-align: start;
}

#btn {
  grid-area: b;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}
