body 
{
  font-family: "Jost", monospace;
  background-color: #fff;
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

h1
{
  font-size: xx-large;
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  color: black;
}

h2
{
  border-bottom: 2px solid rgb(100, 100, 100);
  text-decoration: none;
  margin-top: 0px;
  padding-top: 7px;
  padding-bottom: 5px;
  background-color: lightgrey;
}

h3
{
  margin-left: 200px;
  margin-bottom: 0;
  margin-top: 15px;
  font-size: x-large;
}

h4
{
  margin-left: 200px;
  margin-bottom: 0;
  margin-top: 5px;
}

input 
{
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  color: #000;
}

input[type="text"] 
{
  font-size: x-large;
  box-sizing: content-box;
  height: 99%;
  width: 100.25%;
  padding-left: 2%;
  margin-left: 0;
  box-sizing: border-box;
}

input[type="submit"] 
{
  font-size: larger;
  width: 60%;
  height: 50px;
  text-align: center;
  margin-left: 20%;
}

input[type="submit"]:hover
{
  background-color: rgb(179, 174, 174);
}

.header 
{
  font-size: 100%;
  display: grid;
  gap: 1em;
  padding-top: 0;
  grid-template-columns: 60px repeat(4, minmax(255px, 3fr)) 60px;
  grid-template-rows: 60px;
  grid-template-areas:
      "a h h h h p";
}

#Search
{
  grid-area: h;
  background-color: lightgrey;
  border-radius: 5px;
}

#backArrow
{
  grid-area: a;
}

#profile
{
  grid-area: p;
}

.wrapper {
  background: white;
}

.arrow
{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down
{
  transform: rotate(45deg);
}

.screenCenter 
{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(7, minmax(160px, 1fr));
  grid-template-rows: 10px repeat(2, minmax(40px, 1fr));
  grid-template-areas:
    ". . . . . . ."
    ". s s s c t ."
    ". . . g . . .";
}

.screenCenter > div 
{
  height: 100%;
  border-radius: 5px;
  border: 3px, grey;
}

.results
{
  display: grid;
  box-sizing: border-box;
  gap: 1em;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  grid-template-rows: 5px repeat(3, minmax(100px, 20vh));
  grid-template-areas:
    ". . . . . ."
    "r r r o o o"
    "r r r o o o"
    "r r r o o o";
}

.results > div
{
  border: 2px solid rgb(100, 100, 100);  
  border-radius: 5px;
  width: 99.6%;
  height: 100%;
}

#searchBar 
{
  grid-area: s;
}

#searchButton 
{
  grid-area: g;
}

.dropbtn 
{
  background-color: white;
  font-family: "Jost", monospace;
  color: black;
  border: none;
  width: 100%;
  height: 100%;
  font-size: x-large;
}

.cDropdown 
{
  position: relative;
  display: inline-block;
  grid-area: c;
  height: 101%;
  width: 100.5%;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  font-size: x-large;
  padding-bottom: 1px;
  box-sizing: border-box;
}

/* dropdown box */
.cDropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.cDropdown-content a 
{
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.cDropdown-content a:hover 
{
  background-color: #ddd;
}

.cDropdown:hover .cDropdown-content 
{
  display: block;
}

.cDropdown:hover .dropbtn 
{
  background-color: rgb(179, 174, 174);
  width: 100%;
  height: 100%;
}

.tDropdown 
{
  position: relative;
  display: inline-block;
  grid-area: t;
  height: 100%;
  width: 100.5%;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  font-size: x-large;
  box-sizing: border-box;
}

/* dropdown box */
.tDropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.tDropdown-content a 
{
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.tDropdown-content a:hover 
{
  background-color: #ddd;
}

.tDropdown:hover .tDropdown-content 
{
  display: block;
}

.tDropdown:hover .dropbtn 
{
  background-color: rgb(179, 174, 174);
  width: 100%;
  height: 100%;
}

.topResults
{
  margin-top: 0;
  grid-area: r;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: fr;
  grid-template-areas: 
    "."
    "a" 
  ;
}

.topResults-content
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  text-align: start;
  grid-area: a;
}

.topResults-item
{
  display: grid;
  grid-template-columns: 10px 50px 50px repeat(5, auto);
  grid-template-areas: 
    "i i n n n n n"
    "i i p p p p p"
    "i i b b b b b"   
  ;
}

.otherResults
{
  margin-top: 0;
  grid-area: o;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: fr;
  grid-template-areas: 
    "."
    "c" 
  ;
}  

.otherResults-content
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  text-align: start;
  grid-area: c;
}

.otherResults-item
{
  display: grid;
  grid-template-columns: 10px 50px 50px repeat(5, auto);
  grid-template-areas: 
    "i i n n n n n"
    "i i p p p p p"
    "i i b b b b b"   
  ;
}

#gameImage
{
  grid-area: i;
  align-items: flex-start;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#gameName
{
  grid-area: n;
  text-align: start;
}

#gameRating
{
  grid-area: p;
  text-align: start;
}

#btn
{
  grid-area: b;
  width: 150px;
  margin-left: 200px;
  height: 30px;
  margin-bottom: 0px;
}
