body {
  font-family: 'Jost', monospace;
  background-color: #fff;
  font-size: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
}

/*
input {
  border: 3px solid rgb(100, 100, 100);
  border-radius: 5px;
  color: #000;
}*/

/*
input[type="text"] {
  font-size: x-large;
  width: 85%;
  height: 50px;
}

input[type="submit"] {
  font-size: larger;
  width: 75px;
  height: 50px;
}*/

/*
p {
  padding-left: 5px;
}*/

ul {
  list-style-type: none;
  line-height: 1.7em;
  text-align: left;
}

/********** classes ***********/

.header {
  font-size: 100%;
  display: grid;
  gap: 3em;
  padding-top: 0px;
  /*grid-template-columns: 1fr repeat(5, minmax(120px, 2fr));*/
  grid-template-columns: 60px repeat(4, minmax(120px, 3fr));
  grid-template-rows: 60px;
  /*grid-template-rows: 1px repeat(2, minmax(150px,30vmin)) 60px;*/
  grid-template-areas:
      "l t t t b f";
}

.button {
  /*font-size: 30px;
  /*padding: 10px 100px 0px 100px;*/
  text-align: center;
  text-decoration: none;
  background-color: aqua;
}

h1{
  margin-top: 5px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color:rgb(17, 24, 48);
}

.container {
  font-size: 120%;
  display: grid;
  gap: 3em;
  grid-template-columns: 60px repeat(5,4fr) ;
  grid-template-rows: 1px repeat(3, minmax( 270px, 1fr ));
  grid-template-areas:
      ". . . . . ."
      "c c p p p p"
      "a a p p p p"
      "s s p p p p";
}

.container > div {
  height: 100%;
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
}

.container h2{
  border-bottom: 3px solid rgb(100, 100, 100);
  text-align: center;
  padding-bottom: 4px;
  color:rgb(17, 24, 48);
}
/********** IDs ***********/

#logo {
  flex-basis: 60px;
  grid-area: l;
  border:3px solid rgb(255, 255, 255); 
}

#myGoals_title {
  height: 100%;
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  grid-area: t;
}

#addGoalButton {
  height: 100%;
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  grid-area: b;
  padding-top: 0px;
}

h6 {
  height: 100%;
  border: 2px black;

  font-size: 150%;
  margin-top: 20px;
}

#profile {
  flex-basis: 60px;
  grid-area: f;
  border:3px solid rgb(255, 255, 255); 
}

#current {
  grid-area: c;
}

#archived {
  grid-area: a;
}

#stats {
  grid-area: s;
}

#progress {
  grid-area: p;
}

#data {
  letter-spacing: 10px;
}

li {
  /*border-style: dotted;*/
  padding-left: 3%;
  margin-top:  5px;
  margin-bottom: 3px;
  margin-left: 3px;
  
  
  
  border-style: solid;
  border-width: 3px;
  border-radius: 500px;
  width:fit-content;
  padding-right:3%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  
  /*border: hidden;*/
  border-color: white;
}

#test {
  color: red;
}

li:hover {
  border-color:rgb(100, 100, 100) !important;
}

#statsImage {
  width: 75%;
}
