html {
  height: 100%;
}

body {
  font-family: 'Jost', monospace;
  /*background-color: #fff;*/
  /*font-size: 100%;*/
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
  /*height: 100%;*/
}

ul {
  /*height: 100%;*/
  list-style-type: none;
  line-height: 1em;
  text-align: left;
  overflow-y: scroll;
  padding-inline-start: 10px;
  /*get rid of following line later!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  max-height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

/********** classes ***********/

.header {
  font-size: 100%;
  display: grid;
  /*column-gap: 10px;*/
  gap: 1em;
  padding-top: 0px;
  /*grid-template-columns: 1fr repeat(5, minmax(120px, 2fr));*/
  grid-template-columns: 60px repeat(4, minmax(120px, 1fr)) 60px;
  grid-template-rows: 60px;
  /*grid-template-rows: 1px repeat(2, minmax(150px,30vmin)) 60px;*/
  grid-template-areas:
      "l t t t b f";
}

.button {
  /*font-size: 30px;
  /*padding: 10px 100px 0px 100px;*/
  text-align: center;
  text-decoration: none;
  background-color: aqua;
}

h1{
  margin-top: 5px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color:rgb(17, 24, 48);
  /*background-color: lightgray;*/
}


.container {
  height: 100%;
  min-height: 300px;
  font-size: 100%;
  display: grid;
  /*padding-bottom: 60px;*/
  /*overflow-y: auto;*/
  gap: 1em;
  grid-template-columns: repeat(6,1fr) ;
  /*grid-template-rows: 0px repeat(3, minmax( 10px, 1fr ));*/
  grid-template-rows: 0px repeat(3, minmax(1fr,20vh)); /*what do I need to do to fix this????*/
  grid-template-areas:
      ". . . . . ."
      "c c p p p p"
      "a a p p p p"
      "s s p p p p";
}


.sideGridItem {
  /*max-height: 20vh;*/


  /*border-radius: 5px;
	background-color: lightgrey;
	padding-top: 0px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);*/
  background-color: lightgray;



  margin-top: 0;
  grid-area: r;
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: fr;
  grid-template-areas:
    "."
    "C";
  overflow: hidden;
  box-shadow: 5px 10px 10px #161616;
  max-height: 40vh;
  box-shadow: 5px 10px 10px #161616;
}


#stats-list-ul {
  grid-area: C;
  max-height: 30vh;
}

#archived-list-ul {
  grid-area: C;
  max-height: 30vh;
}

#current-goals-ul {
  grid-area: C;
  max-height: 30vh;
}



.container > div {
  /*height: 100%; */
  /*border:3px solid rgb(100, 100, 100);  */
  border-radius: 5px;
}


.container h2{
  /*border-bottom: 3px solid rgb(100, 100, 100);*/
  text-align: center;
  /*padding-bottom: 4px;*/
  color:rgb(48, 48, 48);
  margin-block-start: 10px;
  margin-bottom: 0px;

}
/********** IDs ***********/

#logo {
  /*flex-basis: 30px;*/
  width: 100%;
  height: 100%;
  grid-area: l;
  /*border:3px solid rgb(255, 255, 255); */
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);*/
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

#myGoals_title {
  /*height: 54px;*/
  /*border:3px solid rgb(100, 100, 100);  */
  
  grid-area: t;
  background-color: #e8e8e8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

#addGoalButton {
  /*height: 54px;*/
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  grid-area: b;
  padding-top: 0px;


  border: 2px black;
  font-size: 150%;



  font-family: 'Jost', monospace;
  /*border:3px solid rgb(100, 100, 100);  */
  border-radius: 5px;
  text-align: center;
  text-decoration-style: bold;
  background-color: #e8e8e8;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);*/
  box-shadow: 5px 10px 10px #161616;
}

h6 {
  height: 100%;
  border: 2px black;

  font-size: 150%;
  margin-top: 10px;
}

#profile {
  /*flex-basis: 30px;*/
  width: fit-content;
  height: fit-content;
  grid-area: f;
  /*border:3px solid rgb(255, 255, 255); */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  
}



/*===================================================================*/

h2 {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


#current {
  grid-area: c;
}

#archived {
  grid-area: a;
}

#stats {
  grid-area: s;
}

#progress {
  grid-area: p;
  margin-bottom: 0px;
  background-color: lightgray;
}

#data {
  letter-spacing: 10px;
}

li {
  /*border-style: dotted;*/
  padding-left: 3%;
  margin-top:  5px;
  margin-bottom: 3px;
  margin-left: 3px;
  
  border-style: solid;
  border-width: 3px;
  border-radius: 500px;
  width:fit-content;
  padding-right:3%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  
  /*border: hidden;*/
  border-color: lightgray;
  cursor: pointer;
}

#test {
  color: red;
}

li:hover {
  border-color:rgb(100, 100, 100) !important;
}

#statsImage {
  width: 75%;
}



.progress {
  height: 100%;
  min-height: 300px;
  font-size: 100%;
  display: grid;
  box-shadow: 5px 10px 10px #161616;

  gap: 10px;
  grid-template-columns: 0px repeat(10,1fr) 0px;
  grid-template-rows: 50px repeat(5, 1fr) 0px;

  grid-template-areas:
      "t t t t t t t t t t t t"
      ". . g g g g g g g g . ."
      ". le g g g g g g g g ri ."
      ". . g g g g g g g g . ."
      ". . p p p p . ad ad . . ."
      ". . p p p p . bu bu . . ."
      ;
}

#left {
  grid-area: le;
}

#right {
  grid-area: ri;
  transform: rotate(180deg);
  
}

.arrow {
  height: 40px;
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
}

#stats-graph {
  grid-area: g;
  /*border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;*/
  /*display: none;*/
}

#pie-image {
  grid-area: p;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 150px;
  max-height: 150px;
  /*border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;*/
  /*display: none;*/
}

.chart-canvas {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

/*
.progress > div {
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
}*/

#button-2 {
  grid-area: bu;
  display: none;
}

#button-1 {
  grid-area: ad;
  display: none;
}


#title {
  grid-area: t;
}



/*=============================================================================================================================*/
 /* Popup container */
 /*
 .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}*/

#addGoalButton {
  cursor: pointer;
}

/* The actual popup */

.popup {
  visibility: hidden;
  background-color: aquamarine;
  position: fixed;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 80vw;
  z-index: 1;
}




.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */ /*
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */


#addGame {
  grid-area: AG;
  cursor: pointer;
}

#addHours {
  grid-area: AH;
  cursor: pointer;
}

#closeButton {
  grid-area: CB;
  font-size: 5vh;
  cursor: pointer;
}

#chooseGoalType {

  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;

  box-shadow: 10px 10px 10px #555;
  background-color: lightgray;

  font-size: 100%;
  display: grid;

  /*gap: 3vh 3vw;*/
  gap: 3vh;
  grid-template-columns: 0px repeat(12,1fr) 0px;
  grid-template-rows: 0px repeat(7, 1fr) 0px;

  grid-template-areas:
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  CB ."
      ". . AG AG AG AG AG AH AH AH AH AH .  ."
      ". . AG AG AG AG AG AH AH AH AH AH .  ."
      ". . AG AG AG AG AG AH AH AH AH AH .  ."
      ". . AG AG AG AG AG AH AH AH AH AH .  ."
      ". . AG AG AG AG AG AH AH AH AH AH .  ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ;
}

.option {
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  /*max-width: 29vw;*/
}

.optionText {
  text-align: center;
  font-size: 13vh;
  overflow-wrap: normal;
}


/*************************************************************************************************************************/
/*Add a goal for a specific game*/

#addingGameGoal {
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  box-shadow: 10px 10px 10px #555;
  /*background-color: rgb(255, 79, 79);*/
  background-color: lightgray;
  font-size: 100%;
  display: grid;

  /*gap: 3vh 3vw;*/
  gap: 3vh;
  grid-template-columns: 0px repeat(12,1fr) 0px;
  grid-template-rows: 0px repeat(7, 1fr) 0px;

  grid-template-areas:
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  TT TT TT TT TT TT .  .  CB ."
      ". . .  .  .  DT DT DM DM DM DM .  .  ."
      ". . .  FF FF FF FF FF FF FF FF .  .  ."
      ". . .  .  DD DD MM MM YY YY .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  .  .  AG AG .  .  WW WW WW ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ;
}

#title-add-game-goal {
  grid-area: TT;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;

  align-items: center;
}

#dropdownTitle {
  grid-area: DT;
  text-align: right;
  display: flex;
  justify-content: center;

  align-items: center;
}

#chooseGame{
  grid-area: DM;
  cursor: pointer;
}

#filler {
  grid-area: FF;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;

  align-items: center;
  
}

#date {
  grid-area: DD;
  cursor: pointer;
}

#month{
  grid-area: MM;
  cursor: pointer;
}

#year {
  grid-area: YY;
  cursor: pointer;
}

#addGoal {
  grid-area: AG;
  cursor: pointer;
}







.dayDropbtn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.dayDropdown {
  grid-area: DD;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.day-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.day-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.day-dropdown-content a:hover {
  background-color: fuchsia;
}

.dayDropdown:hover .day-dropdown-content {
  display: block;
}







.monthDropbtn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.monthDropdown {
  grid-area: MM;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.month-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.month-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.month-dropdown-content a:hover {
  background-color: fuchsia;
}

.monthDropdown:hover .month-dropdown-content {
  display: block;
}











.yearDropbtn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.yearDropdown {
  grid-area: YY;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.year-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.year-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.year-dropdown-content a:hover {
  background-color: fuchsia;
}

.yearDropdown:hover .year-dropdown-content {
  display: block;
}








.gameDropbtn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.gameDropdown {
  grid-area: DM;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.game-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.game-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.game-dropdown-content a:hover {
  background-color: fuchsia;
}

.gameDropdown:hover .game-dropdown-content {
  display: block;
}





/*************************************************************************************************************************/
/*Add a goal for number of hours*/

#addingHoursGoal {
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  box-shadow: 10px 10px 10px #555;
  /*background-color: rgb(255, 197, 37);*/
  background-color: lightgray;
  font-size: 100%;
  display: grid;

  /*gap: 3vh 3vw;*/
  gap: 3vh;
  grid-template-columns: 0px repeat(12,1fr) 0px;
  grid-template-rows: 0px repeat(7, 1fr) 0px;

  grid-template-areas:
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  TT TT TT TT TT TT .  .  CB ."
      ". . .  .  .  PL PL C2 C2 .  .  .  .  ."
      ". . .  .  .  HH HH NH NH .  .  .  .  ."
      ". . .  .  .  .  PW PW .  .  .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  .  .  AG AG .  .  WW WW WW ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ;
}

#title-add-hours-goal {
  grid-area: TT;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;

  align-items: center;
}


#text_Play {
  grid-area: PL;
  cursor: pointer;
  text-align: right;
  display: flex;
  justify-content: center;

  align-items: center;
}

#choiceBetweenTwo {
  grid-area: C2;
  cursor: pointer;
  display: flex;
  justify-content: center;

  align-items: center;
}

#option1 {
  border-color: white;
  cursor: pointer;
  border-style: solid;
  width: fit-content;
  border-radius: 500px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#option1:hover {
  border-color:rgb(100, 100, 100) !important;
}

#slash {
}

#option2 {
  border-color: white;
  cursor: pointer;
  border-style: solid;
  width: fit-content;
  border-radius: 500px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#option2:hover {
  border-color:rgb(100, 100, 100) !important;
}

#text_Hours {
  grid-area: HH;
  text-align: right;
  display: flex;
  justify-content: center;

  align-items: center;
}

#numHours {
  grid-area: NH;
  cursor: pointer;
}

#text_PerWeek {
  grid-area: PW;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;
}

#addGoal {
  grid-area: AG;
  cursor: pointer;
}







.hoursDropbtn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.hoursDropdown {
  grid-area: NH;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.hours-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.hours-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hours-dropdown-content a:hover {
  background-color: fuchsia;
}

.hoursDropdown:hover .hours-dropdown-content {
  display: block;
}




/*************************************************************************************************************************/
/*Editing Graph Data*/

/*
.popup {
  visibility: hidden;
  background-color: aquamarine;
  position: fixed;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 80vw;
  z-index: 1;
}
*/

#editing-data {
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  box-shadow: 10px 10px 10px #555;
  /*background-color: rgb(255, 197, 37);*/
  background-color: lightgray;
  font-size: 100%;
  display: grid;

  /*gap: 3vh 3vw;*/
  gap: 3vh;
  grid-template-columns: 0px repeat(12,1fr) 0px;
  grid-template-rows: 0px repeat(7, 1fr) 0px;

  grid-template-areas:
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  TT TT TT TT TT TT TT TT .  CB ."
      ". . P  P  P  H  NH NH M  QQ QQ .  .  ."
      ". . .  .  .  F  DM DM DM .  .  .  .  ."
      ". . .  .  .  N  DD DD DD .  .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  .  .  AG AG .  .  WW WW WW ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ;
}

#title-edit-data {
  grid-area: TT;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: right;

  align-items: center;
}

#text-I-played {
  grid-area: P;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-hours {
  grid-area: H;
  
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

#text-minutes {
  grid-area: M;
  
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

#hoursDropdown {
  grid-area: NH;
  cursor: pointer;
}

#text-of {
  grid-area: F;
  
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

#text-on {
  grid-area: N;
  
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: right;
}







.day-drop-btn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.day-dropdown {
  grid-area: DD;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.day-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.day-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.day-dropdown-content a:hover {
  background-color: fuchsia;
}

.day-dropdown:hover .day-dropdown-content {
  display: block;
}









.minsDropBtn {
  color:black;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;

  height: 100%;
  width: 100%;
}

.minutesDropDown {
  grid-area: QQ;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.minutes-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.minutes-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.minutes-dropdown-content a:hover {
  background-color: fuchsia;
}

.minutesDropDown:hover .minutes-dropdown-content {
  display: block;
}




#warning1{
  opacity: 0%;
  grid-area: WW;
  z-index: 1;
  text-align: center;
}

#warning2{
  opacity: 0%;
  grid-area: WW;
  z-index: 1;
  text-align: center;
}

#warning3{
  opacity: 0%;
  grid-area: WW;
  z-index: 1;
  text-align: center;
}






/*ARCHIVE WARNING*/
#archive-warning {
  position: fixed;
  top: 25vh;
  left: 25vw;
  height: 50vh;
  width: 50vw;
  z-index: 1;
  border:3px solid rgb(100, 100, 100);  
  border-radius: 5px;
  box-shadow: 10px 10px 10px #555;
  /*background-color: rgb(37, 255, 66);*/
  background-color: lightgray;
  font-size: 100%;
  display: grid;

  /*gap: 3vh 3vw;*/
  gap: 3vh;
  grid-template-columns: 0px repeat(12,1fr) 0px;
  grid-template-rows: 0px repeat(7, 1fr) 0px;

  grid-template-areas:
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  . ."
      ". . .  .  T  T  T  T  T  T  .  .  .  ."
      ". . .  .  T  T  T  T  T  T  .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ". . .  .  .  Y  Y  N  N  .  .  .  .  ."
      ". . .  .  .  Y  Y  N  N  .  .  .  .  ."
      ". . .  .  .  .  .  .  .  .  .  .  .  ."
      ;
}

#archive-no {
  grid-area: N;
  cursor: pointer;
}

#archive-yes {
  grid-area: Y;
  cursor: pointer;
}

#title-archive-warning {
  grid-area: T;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;

  align-items: center;
}