body {
  font-family: "Consolas", monospace;
  font-size: large;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 5%;
}

input {
  background-color: lightgray;
  border-radius: 5px;
  color: #000;
  box-shadow: 5px 10px 10px #161616;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-family: "Consolas", monospace;
}

input[type="text"] {
  font-size: x-large;
  box-sizing: content-box;
  height: 100%;
  width: 100.25%;
  padding-left: 2%;
  margin-left: 0;
  box-sizing: border-box;
}

input[type="submit"] {
  font-size: larger;
  width: 60%;
  height: 50px;
  text-align: center;
  margin-left: 20%;
  background-color: lightgray;
}

input[type="submit"]:hover {
  background-color: rgb(179, 174, 174);
  cursor: pointer;
}

input[type = "checkbox"]
{
  box-shadow: none;
}

.header {
  font-size: 100%;
  display: grid;
  gap: 30px;
  padding-top: 0px;
  grid-template-columns: 60px repeat(4, minmax(255px, 3fr)) 60px;
  grid-template-rows: 60px;
  grid-template-areas: "a h h h h p";
}

#AdvancedSearch {
  grid-area: h;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

#profilePic
{
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

#logo
{
  border-radius: 5px;
  box-shadow: 5px 10px 10px #161616;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  color: black;
}

.wrapper {
  background: white;
}

.screenCenter {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(7, minmax(150px, 3fr));
  grid-template-rows: repeat(7, minmax(50px, 1fr));
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". s s s c t ."
    ". . . g . . ."
    ". . . . . . ."
    ". . . . . . .";
}

.screenCenter > div {
  height: 100%;
  border-radius: 5px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
}

#searchBar {
  grid-area: s;
  margin-bottom: auto;
}

#searchButton {
  grid-area: g;
}

.dropbtn {
  font-family: "Consolas", monospace;
  background: none;
  color: black;
  border: none;
  width: 100%;
  height: 98%;
  font-size: x-large;
}

.cDropdown {
  position: relative;
  display: inline-block;
  grid-area: c;
  height: 101%;
  width: 100.5%;
  background-color: lightgray;
  border-radius: 5px;
  font-size: x-large;
  padding-bottom: 1px;
  box-sizing: border-box;
  box-shadow: 5px 10px 10px #161616;
}

.cDropdown:hover {
  background-color: rgb(179, 174, 174);
}

/* dropdown box */
.cDropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 5px 10px 10px #161616;
  z-index: 1;
  width: 100%;
  font-size: medium;
}

.cDropdown-content a {
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.cDropdown-content a:hover {
  background-color: #ddd;
}

.cDropdown:hover .cDropdown-content {
  display: block;
}

.tDropdown {
  position: relative;
  display: inline-block;
  grid-area: t;
  height: 100%;
  width: 100.5%;
  background-color: lightgray;
  border-radius: 5px;
  font-size: x-large;
  padding-bottom: 1px;
  box-sizing: border-box;
  box-shadow: 5px 10px 10px #161616;
}

.tDropdown:hover {
  background-color: rgb(179, 174, 174);
}

/* dropdown box */
.tDropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 5px 10px 10px #161616;
  z-index: 1;
  width: 100%;
}

.tDropdown-content a {
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.tDropdown-content a:hover {
  background-color: #ddd;
}

.tDropdown:hover .tDropdown-content {
  display: block;
}
