body 
{
  font-family: "Jost", monospace;
  background-color: #fff;
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 5%;
}

input 
{
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  color: #000;
}

input[type="text"] 
{
  font-size: x-large;
  box-sizing: content-box;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 0;
  margin-left: -1%;
  margin-top: 2px;
}

input[type="submit"] 
{
  font-size: larger;
  width: 60%;
  height: 50px;
  text-align: center;
  margin-left: 20%;
}

.header 
{
  font-size: 100%;
  display: grid;
  gap: 1em;
  padding-top: 0px;
  grid-template-columns: 60px repeat(4, minmax(120px, 3fr)) 60px;
  grid-template-rows: 60px;
  grid-template-areas:
      "a h h h h p";
}

#AdvancedSearch
{
  grid-area: h;
  background-color: lightgray;
  border-radius: 5px;
}

#backArrow
{
  grid-area: a;
}

#profile
{
  grid-area: p;
}

h1
{
  font-size: xx-large;
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  color: black;
}

.wrapper {
  background: white;
}

.screenCenter 
{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(7, minmax(150px, 3fr));
  grid-template-rows: repeat(7, minmax(50px, 1fr));
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". s s s c t ."
    ". . . g . . ."
    ". . . . . . ."
    ". . . . . . .";
    
}

.screenCenter > div
{
  height: 100%;
  /*border: 3px solid red;*/
  border-radius: 5px;
}

.arrow
{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down
{
    transform: rotate(45deg);
}

#searchBar {
  grid-area: s;
  margin-bottom: auto;
}

#searchButton {
  grid-area: g;
  
}

.dropbtn {
  background-color: white;
  font-family: "Jost", monospace;
  
  color: black;
  border: none;
  width: 100%;
  height: 98%;
  font-size: x-large;
}

.cDropdown {
  position: relative;
  display: inline-block;
  grid-area: c;
  height: 98%;
  width: 100%;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  font-size: x-large;
  
}

/* dropdown box */
.cDropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  font-size: medium;
}

.cDropdown-content a 
{
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.cDropdown-content a:hover 
{
  background-color: #ddd;
}

.cDropdown:hover .cDropdown-content 
{
  display: block;
}

.cDropdown:hover .dropbtn 
{
  background-color: rgb(179, 174, 174);
  width: 100%;
  height: 98%;
}

.tDropdown {
  position: relative;
  display: inline-block;
  grid-area: t;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  font-size: x-large;
}

/* dropdown box */
.tDropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.tDropdown-content a 
{
  color: black;
  padding: 5px;
  font-size: medium;
  text-decoration: none;
  display: block;
  position: relative;
}

.tDropdown-content a:hover 
{
  background-color: #ddd;
}

.tDropdown:hover .tDropdown-content 
{
  display: block;
}

.tDropdown:hover .dropbtn 
{
  background-color: rgb(179, 174, 174);
  width: 100%;
  height: 100%;
}
