body{
	margin:0;
	margin:auto;
	margin-top:20px;
}
.maincontainer{
	height:800px;
	width:100%;
	background-color:white;
}
.innercontainer{
	height:800px;
	width:1000px;
	background-color:white;
	margin:auto;
	
}
.TopBar{
	height:100px;
	width:1000px;
	background-color:white;
}
.webIcon{
	height:100px;
	width:295px;
	background-color:white;
	float:left;
}
.webHead{
	height:100px;
	width:500px;
	background-color:white;
	float:left;
}
.profImg{
	height:100px;
	width:200px;
	background-color:white;
	float:left;
}
.goodgames{
	margin-top:10px;
	margin-left:50px;
	font-family: "Jost", monospace;
	font-size:60px;
	
	
}
.loginThings{
	height:700px;
	width:1000px;
	background-color:white;
}
.loginCont{
	height:200px;
	width:500px;
	margin:auto;
	background-color:white;
	margin-top:200px;
}
.table{
	margin-left:100px;
	font-size:25px;
	font-family:"Jost", monospace;
}
.login1{
	margin-left:185px;
	height:30px;
	width:100px;
	font-size:20px;
	background-color:black;
	color:white;
}
.login1:hover{
		cursor:pointer;
}
.img{
	--border:2px solid black;
}
.menu{
	height:600px;
	width:1000px;
	background-color:white;
	margin-top:10px;
}
.menu1{
	height:600px;
	width:333.3px;
	float:left;
	background-color:white;
	
}
.box{
	height:400px;
	width:300px;
	background-color:white;
	margin:auto;
	margin-top:100px;
	border: 2px solid black;
}
.subBox{
	height:133.3px;
	width:300px;
	background-color:white;
	margin:auto;

}
.button{
	height:100.3px;
	width:300px;
	font-size:50px;
	margin-top:35px;
}
.button:hover{
	cursor:pointer;
}

.usercontainer{
	height:100px;
	width:280px;
	margin-top:30px;
	background-color:pink;
	margin:auto;
	top:7%;
	position:relative;
}
.password{
	height:100px;
	width:280px;
	margin-top:30px;
	background-color:pink;
	margin:auto;
	top:7%;
	position:relative;
}
.tab{
	border:2px solid black;
	height:100px;
	width:280px;
	text-align:center;
	background-color:white;
}
.button1:hover
{
	cursor:pointer;
}
.subBox2{
	height:100px;
	width:300px;
	background-color:white;
	margin:auto;
	
}
.subBox23{
	height:97px;
	width:300px;
	background-color:white;
	margin:auto;
	border:2px solid black;
	margin-left:-2px;
	background-color:#D3D3D3;
	
}
.subBox3{
	height:199.3px;
	width:300px;
	background-color:white;
	margin:auto;
}
.privacy{
	margin-top:-0px;
	position:relative;
	font-size:30px;
	text-align:center;
	padding-top:20px;
	
}
.save{
	height:100px;
	width:300px;
	font-size:35px;
}
.save:hover{
	cursor:pointer;
}
.subsubbox{
	height:66.63px;
	width:300px;
	background-color:white;
}
.sp{
	font-size:30px;
	font-family:arial;
	font-weight:400;
}
.SUBox{
	height:100px;
	width:300px;
	background-color:#D3D3D3;
	margin:auto;
	border:2px solid black;
	margin-left:-2px;
}
.SUBox2{
	height:295px;
	width:300px;
	background-color:white;
	margin:auto;
}
.button12{
	height:100px;
	width:300px;
	font-size:35px;
	margin-top:27px;
	cursor:pointer;
}